.git
.github
.venv
.local
venv
**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.coverage*
htmlcov
.env
.env.*
*.pem
*.key
gha-creds-*.json
**/*credentials*.json
**/*service-account*.json
**/*.tfstate*
**/*.tfplan
**/.terraform
infra
docs
tests
output
artifacts
dist
build
*.egg-info
data/*
!data/sample
